<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WinDays13 Demo</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            <img src="~/Content/head.png" />
        </header>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
